body
{
background-image:url("cd.jpg");
font-family:myFF;
}
#pic
{
width:150px;
height:195px;
margin-left:440px;
margin-top:280px;
//background-color:red;
//background-image:url("cd.jpg");
overflow:hidden;
}
button
{
background-color: grey;
color:black;
opacity:0.9;
}

#b1
{
margin-top:130px;
margin-left:350px;
}
#b2
{
margin-top:130px;
margin-left:10px;
}

#b3
{
margin-top:130px;
margin-left:10px;
}

#id
{
margin-left:500px;
margin-top:-300px;
}
#sold
{
margin-left:700px;
margin-top:-19.5px;
}
#name
{
margin-left:700px;
margin-top:100px;
}

#country
{
margin-left:700px;
margin-top:50px;
}

#price
{
margin-left:700px;
margin-top:50px;
}

#b1,#b2,#b3
{
font-size:1em;
border:1px solid black;
color:grey;
font-family:myFF1;
text-align:center;
width:10em;
padding:0.9em;
float:left;
background-color:black;
height:3em;
}

#b1:hover,#b2:hover,#b3:hover
{
background-color:grey;
color:black;
border:2px solid grey;
}

@font-face
{
font-family: myFF;
src: url('a.ttf');
}
@font-face
{
font-family: myal;
src: url('Alegreya-Italic.otf');
}
@font-face
{
font-family: myf1;
src: url('Almendra-Regular.otf');
}
@font-face
{
font-family: myf5;
src: url('AlmendraSC-Regular.otf');
}
@font-face
{
font-family: myFF1;
src: url('b.ttf');
}

#sold,#id,#name,#country,#price
{
overflow:hidden;
font-family: myFF1;
}
